<div id="index" class="full-screen grid">
    <div class="grid-2 container center">
        <div id="que-somos">
            <h1>Argentina Hoy</h1>
            <p>Un sitio web para que te informes de todos los indicadores del país, a la vez que podés integrar estos datos a tu aplicación mediante <a href="#planes">nuestra API</a>.</p>
            <a href="/dev/api-tutorial" class="light padding rounded">Comienza a desarrollar</a>
        </div>
        <div id="dolarHoy" class="grid">
            <div class="dolar-oficial">$60,90</div>
            <div class="dolar-blue">$79,00</div>
        </div>
    </div>
</div>