@media (max-width: 1919px) {
    #argentina {
        width: 100%;
        height: 100vh;
        transform: rotate(0deg);
        top: 0;
        right: 0;
    }
}
@media (max-width: 1279px) {
    #buttons.grid-2 {
        grid-template-columns: 1fr 1fr;
    }
    #bounty {
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
    }
    #argentina {
        width: 100%;
        height: 100vh;
        transform: rotate(0deg);
        top: 0;
        right: 0;
    }
    #plans * {
        text-align: center;
    }
    #plans ul li {
        text-align: left;
    }
}
@media (max-width: 799px) {
    #buttons.grid-2 {
        grid-template-columns: 100%;
    }
    #display p {
        font-size: 18px;
    }
    #display .official-dollar, #display .libre-dollar {
        font-size: 18px;
    }
}