@media (max-width: 1279px) {
    #bounty {
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
    }
    #argentina {
        width: 200vw;
        right: -50vw;
    }
    #plans * {
        text-align: center;
    }
    #plans ul li {
        text-align: left;
    }
}