<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Argentina Hoy | Valores y estadísticas reales del país</title>
    <!-- Reboot_strap -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/grid.css" />
    <link rel="stylesheet" href="css/text.css" />
    <link rel="stylesheet" href="css/link.css" />
    <link rel="stylesheet" href="css/alert.css" />
    <link rel="stylesheet" href="css/input.css" />
    <!-- Reboot_strap responsive -->
    <link rel="stylesheet" href="css/main-responsive.css" />
    <link rel="stylesheet" href="css/grid-responsive.css" />
    <link rel="stylesheet" href="css/text-responsive.css" />
    <link rel="stylesheet" href="css/link-responsive.css" />
    <link rel="stylesheet" href="css/alert-responsive.css" />
    <link rel="stylesheet" href="css/input-responsive.css" />
    <!-- Estilos propios -->
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/profile.css" />
</head>
<body>
    {{> header }}
    {{{ body }}}
    {{> footer }}
    {{> errors }}
</body>
</html>